name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      
      - name: Install Calibre
        run: |
          sudo apt install qt5-qmake libqt5-dev
          curl -L https://calibre-ebook.com/dist/src | tar xvJ
          cd calibre-8.14.0
          sudo python3 setup.py install
          which calibredb
          calibredb --version
      
      - name: Download Go dependencies
        run: go mod download
      
      - name: Build
        run: go build -v ./...
      
      - name: Run tests
        env:
          CALIBREDB_PATH: /opt/calibre/calibredb
        run: go test -v ./...
