name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      
      - name: Install Calibre
        run: |
          wget https://github.com/kovidgoyal/calibre/releases/download/v8.14.0/calibre-8.14.0-x86_64.txz 
          tar Jxvf calibre-8.14.0-x86_64.txz -C /opt/ > /dev/null
          /opt/calibredb --version

      - name: Download Go dependencies
        run: go mod download
      
      - name: Build
        run: go build -v ./...
      
      - name: Run tests
        env:
          CALIBREDB_PATH: /opt/calibredb
        run: go test -v ./...
